@charset "utf-8";
@import "compass";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/css3/border-radius";

$base_bg_color : #dbdbdb;
$gray_color : #4C4C4C;

html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background: $base_bg_color;
    background-size: cover;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.panel {
    padding: 5em 2em 8em 2em;
    width:100%;
    min-height: 400px;
    height:auto;
    position: relative;
    .site_title_sub {
        margin: 0 0 30px;
        left-spacing: 1px;
        font-size: 2.2 rem;
    }

    .site_title_sub::before,
    .site_title_sub::after {
        content: "";
        display: inline-block;
        width: 140px;
        height: 20px;
        margin: 0 30px;
        background-color: #fff;
        vertical-align: middle;
    }

    .site_title {
        margin: 50px 0 40px;
        font-size: 3.6rem;
    }
    .skill_row {
        width:100%;
        .skill_col {
            width :50%;
            float: left;
            text-align: left;
            .skill_tags {
                margin: 0;
                padding: 0 1em 0 0;
                list-style-type: none;
                li {
                    float: left;
                    width: auto;
                    margin-right: .3em;
                    margin-bottom: .5em;
                    background-color: #434343;
                    text-align: center;
                    border-radius: 0.8em;
                    padding: .8em 1em .8em 1em;
                    opacity: 0;
                }
            }
        }
        .clear {
            clear: both;
            height: 1px;
        }
    }

    .heading {
        position: relative;
        display: inline-block;
        margin: 30px 0 15px;
        padding-bottom: 15px;
        letter-spacing: 2px;
        font-size: 4rem;
        ::before,
        ::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid #999;
        }
        ::before {
            bottom: 5px;
        }
    }
}

#header {
    width: 100%;
    min-height: 500px;
    @include perspective(50px);
    @include transform-origin( 50% 100% );
    padding: 30px;
    position: fixed;
    top:0;
    .petal {
        position: fixed;
        width: 4em;
        height: 4em;
    }
    .greeting{
        padding-top: 3em;
        opacity: 0;
        width: 100%;
    }
    .goodbye {
        color:$gray_color;
        font-weight: bold;
        font-size: 4rem;
        opacity: 0;
        padding : 3em;
    }
}

#header_frame {
    height: 500px;
}

#about {
    @include background(linear-gradient(-45deg, rgba(246, 255, 0, .7), rgba(255, 0, 161, .7)), url(../images/photo1.jpg));
    background-size:cover;
    img {
        margin: 3rem 3rem 3rem 3rem;
        width: 150px;
        height:150px;
        @include border-radius(150px);
    }
    .about_title {
        margin: 0 1em 1em;
        font-size: 2rem;
        font-weight: bold;
    }
    .job_title {
        font-size: 1rem;
        margin: 1em;
        line-height: 1.5;
        text-align: center;
    }
    .about_text {
        margin: 1em;
        line-height: 1.5;
        text-align: center;
    }
}

#dev {
    background-color: #fff;
    @include background(linear-gradient(-45deg, rgba(112, 225, 245, .6), rgba(255, 179, 102, .6)), url(../images/photo2.jpg));
    background-size:cover;
}
#uiux {
    @include background(linear-gradient(-45deg, rgba(60, 165, 92, .7), rgba(181, 172, 73, .7)), url(../images/photo3.jpg));
    background-size:cover;
}
#contact {
    @include background(linear-gradient(-45deg, rgba(0, 84, 169, .8), rgba(32, 176, 175, .8)), url(../images/photo4.jpg));
    background-size:cover;
    width: 100%;
    text-align: center;
    overflow: hidden;
    ul {
        position: relative;
        left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
        float: left;
    }

    ul li {
        position: relative;
        left: -50%;
        float: left;
        list-style: none;
        padding: 2em;
        width: 4em;
        height: 4em;
    }

    #train_wrapper{
        position: absolute;
        bottom:0;
        overflow: hidden;
        width:auto;
        float: right;
        left : 0;
        img {
            height: 4em;
        }
        .train_right {
            width:auto;
            padding-right: 0.1em;
            padding-left: 0.1em;
            display: table-cell;
        }
        .train_middle {
            width:auto;
            padding-right: 0.1em;
            padding-left: 0.1em;
            display: table-cell;
        }
        .train_left {
            width:auto;
            padding-right: 0.1em;
            padding-left: 0.1em;
            display: table-cell;
            img {
                @include transform( scaleX(-1));
            }
        }
    }
}
footer {
    .goodbye {
        color:$gray_color;
        font-weight: bold;
        font-size: 4rem;
        opacity: 0;
        padding : 3em;
    }
    padding: 0em;
}


@media (max-width: 768px) {
    body {
        font-size: 1.3rem;
    }
    .heading {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    .panel {
        padding: 1em;
        padding-bottom: 2em;
        .skill_row {
            width:100%;
            .skill_col {
                margin-top: 1em;
                text-align: center;
                width :100%;
            }
        }
    }
    .header {
        padding-top: 60px;
    }
    .site-title-sub {
        font-size: 1.7rem;
    }
    #contact {
        height: auto;
        overflow: visible;
        ul {
            position:absolute;
            left: 0; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
            float: left;
            width :100%;
            padding: 0;
        }

        ul li {
            position: relative;
            left: 0%;
            float: left;
            padding: 2em;
            width: 50%;
        }
    }
    footer {
        padding: 1em;
    }
}
